<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">

	<title>Welcome to the News Scraper!</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Material Design-->
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<!--Custom CSS-->
	<link rel = "stylesheet" href="assets/css/style.css">
</head>
<body>
	<!-- Nav bar -->
	<div class = "navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class = "brand-logo" id = "name-logo">NewsScraper!</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<!--Change to Dropdown of news sources-->
					<li class = "nav-link active"><a href="#about">About</a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<!--Main-->
	<main>

	{{{ body }}}
	
	</main>
	
	<!-- Footer -->
	<footer class="page-footer" id = "sticky-footer">
		<div class="footer-copyright">
			<div class="container">
				© 2017 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
	<!--jQuery CDN-->
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--Material Design JS-->
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<!--Custom JS-->
	<script src = "assets/js/frontEnd.js"></script>
</body>
</html>