body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-image: url('../images/newspaper-bg.jpg');
}

#intro-card-image {
	height:200px;
	width:200px;
	margin-left:90px;
	margin-bottom:20px;
	padding-top:30px;

}